<h1>Editing song</h1>

<%= s3_uploader_form post: songs_url, as: "song[audio]" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>

<script type='text/javascript'>
 $(function() {
   $('#fileupload').fileupload({
     dropZone: $('#dropzone'),
      add: function(e, data) {
        //data.context = $(tmpl("template-upload", data.files[0]));
        //$('#new_painting').append(data.context);
        data.submit();
      },
      progress: function(e, data) {
        progress = parseInt(data.loaded / data.total * 100, 10)
      },
      done: function(e, data) {
      var file = data.files[0],
          domain = $('#fileupload').attr('action'),
          path = $('#fileupload input[name=key]').val().replace('${filename}', file.name);
      }
    });
  });
</script>

<%= link_to 'Show', @song %> |
<%= link_to 'Back', songs_path %>
