i {
  padding: 0 3px;
}

.dropZone {
  margin: auto;
  border: 2px dashed #DDD;
  padding: 15px;
  border-radius: 11px;
  margin-bottom: 10px;
  text-align: center;
  font-size:1.5em;
  color: #DDD;

  &.in {
    -webkit-transform:  scale(1.1, 1.2);
  }

  &.hover {
    background: #EEE;
  }
}

.hidden {
  display: none;
}

.btn {
  margin-right: 5px;
}

.inline {
  display: inline;
}

.small-logo {
  width: 20px;
  vertical-align: top;
  margin-right: 5px;
}
.blurb {
  width: 98%;
  min-height: 200px;
}

.preview {
  border: 1px dashed #404040;
  min-height: 200px;
  padding: 4px 6px;
}

.action-box {
  margin-top: 10px;
}
.song-select {
  width: 300px;
}

table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: #f7f7f9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.set-name {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.set-date {
  margin-top: -7px;
  font-weight: bold;
  color: #999;
  text-align: right;
  padding-right: 10px;
}

.attachment {
  margin-left: 13px;
  text-decoration: underline;
  i{
    text-decoration: none;
  }
}

.song-set {
  margin-bottom: 20px;
}

.song-title {
  padding-left: 10px;
  font-size: 1.5em;
  line-height: 1.7em;
}

.lead-by {
  color: #999;
  margin-left: 3px;
}

.set-list {
  border-left: 3px solid #999;
  margin-left: -3px;
}

.song-row {
  margin-bottom: 5px;
}
