i {
  padding: 0 3px;
}

.dropZone {
  margin: auto;
  border: 2px dashed #DDD;
  padding: 15px;
  border-radius: 11px;
  margin-bottom: 10px;
  text-align: center;
  font-size:1.5em;
  color: #DDD;

  &.in {
    -webkit-transform:  scale(1.1, 1.2);
  }

  &.hover {
    background: #EEE;
  }
}

.hidden {
  display: none;
}

.btn {
  margin-right: 5px;
}

.inline {
  display: inline;
}

.small-logo {
  width: 20px;
  vertical-align: top;
  margin-right: 5px;
}
.blurb {
  width: 98%;
  min-height: 200px;
}

.preview {
  border: 1px dashed #404040;
  min-height: 200px;
  padding: 4px 6px;
}

.action-box {
  margin-top: 10px;
}
.song-select {
  width: 300px;
}

table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: #f7f7f9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

body {
  background: url('background.png') repeat;
}

.container {
  padding: 0 10px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 5px -1px #404040;
}

.table-striped tbody>tr:nth-child(even)>td, .table-striped tbody>tr:nth-child(even)>th {
  background-color: #FFF;
}

.set-list {
  padding: 10px;
}

.set-header {
  margin-left: 20px;
  border-bottom: 1px solid #999999;
  padding: 5px 3px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.set-name {
  font-weight: bold;
  font-size: 1.3em;
}

.set-date {
  font-weight: bold;
  font-size: 1.3em;
  color: #999;
}

.song-header {
  padding-left: 3px;
}
.song-name {
  font-weight: bold;
  margin-left: 20px;
  font-size: 1.3em;
}

@media (max-width: 979px) and (min-width: 768px) {
  .set-header {
    font-size: 1.5em;
  }

  .lead-by {
    font-size: 1.2em;
  }
}

@media (min-width: 1200px) {
  .song-name {
    margin-left: 30px;
    font-size: 1.5em;
  }

  .set-header {
    font-size: 1.5em;
    margin-left: 30px;
  }

  .lead-by {
    font-size: 1.2em;
  }
}

@media (max-width: 767px) {
  .song-name {
    margin-left: 0;
    font-size: 1em;
  }

  .set-header {
    margin-left: 0;
  }
}


.attachment-container {
  max-width: 200px;
  margin: auto;
}

.attachment {
  font-weight: lighter;
}

.text-center {
  text-align: center;
}

.lead-by {
  font-weight: lighter;
  color: #999;
}

.lead-by-inline {
  font-weight: lighter;
  color: #999;
  margin-left: 10px;
}

