.form-container {
  padding: 5px;
  max-width: 600px;
  margin: auto;


  input[type="text"][class*="span"],
  textarea[class*="span"],
  input[type="email"][class*="span"] {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    min-height: 30px;
  }
}

.form-buttons[class*="span"] {
  display: inline-block;
  margin-left: 0;
}

.submit-btn {
  i {
    margin-right: 3px;
  }
}

.hidden-submit {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.btn-link {
  padding: 7px 14px;
  text-shadow: none;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.btn-link-red {
  color: #DA3A3A;
}

.field_with_errors {
  input[type='text'] {
    border-color: #b94a48;
    background-color: #FFF7F8;
  }
}

.form-section-header {
  padding: 3px 1px;
}

.telephone-input {
  position: relative;
  width: 250px;
  .dialing-code {
    width: 35px;
  }

  .number {
    width: 157px;
    margin-left: 5px;
    padding-right: 30px;
  }

  i[class^='icon-'] {
    color: #CCC;
    font-size: 24px;
    position: absolute;
    right: 5px;
    top: 3px;
  }
}

.icon-text-field {
  position: relative;

  input[type='text'] {
    padding-right: 35px;
  }

  i[class^='icon-'] {
    position: absolute;
    right: 5px;
    bottom: -2px;
    font-size: 24px;
    color: #CCC;
  }
}

.form-inline-label {
  display: inline;
  margin-right: 12px;
}

.form-subsection-header {
  font-size: 14px;
  font-weight: bold;
}

.form-subsection-block {
  margin-bottom: 10px;

  select {
    margin-bottom: 0;
  }
}

.form-subsection-action {
  float: right;
  text-decoration: underline;
  color: white;
  line-height: 28px;
  margin-right: 5px;

  &:hover {
    color: white;
    font-weight: bold;
  }
}

.remove-form-item {
  float: right;
  color: red;

  i[class^='icon-'] {
    margin-right: 5px;
  }
}

input[type="text"].required-field {
  border-color: rgba(236, 224, 82, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 2px rgba(236, 224, 82, 0.8);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(236, 224, 82, 0.8);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 2px rgba(236, 224, 82, 0.8);
}
