input[type="radio"].gender-radio {
  vertical-align: top;
  margin-right: 3px;
}
.member-list {
  margin-top: 5px;
}

.member-name {
  font-family: 'BebasNeueRegular';
  font-size: 2em;
  padding:10px 3px ;
  line-height: 23px;
  color: white;
  margin-left: 0px !important;
  @media (max-width: 767px) {
    padding:10px 70px 10px 3px ;
  }

  a {
    color: white;
  }

  i[class^='icon-'] {
    margin-right: 5px;
  }
}

.member {
  border-top: 1px solid #AEE6CE;
  position: relative;
}

.member-info {
  .labeled-item {
    margin-right: 5px;
  }
  @media (max-width: 767px) {
    margin-top: -15px;
  }

  a {
    color: white;
  }
}

.member-search-form {
  width: 200px;
  display: inline;
}

.family-details:not(:last-child) {
  border-bottom: 3px solid #CCC;
  margin-bottom: 10px;
}

ul.family-suggestions {
  list-style: none;
  margin: 0;
}

.family-suggestion {
  cursor: pointer;
  line-height: 2em;
  font-size: 1.2em;
  small {
    margin-left: 5px;
    font-weight: 200;
  }

  &:hover {
    text-decoration: underline;
  }
}

.address-suggestions {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;

  a {
    color: #0088cc;
  }
}

.section-header {
  padding: 0px;
  font-size: 24px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 10px 0 0 0;
  font-weight: 300;
  font-family: 'BebasNeueRegular';
}

.labeled-item.black {
  color: black;
  span {
    color: black;
  }
}

.filter-form form {
  margin: 0;
}

.filter-form-content {
  @media (max-width: 767px) {
    padding: 0 20px;
  }
}

.filter-group {
  margin-bottom: 10px;
}

.filter-group-header {
  margin: 10px 0 3px 0;
  text-decoration: underline
}

.filter-options {
  margin: 0;
  list-style: none;
}

.filter-option {
  float: left;
  padding: 3px 5px;
  margin: 0 3px 3px 0;
  border: 1px solid black;
  cursor: pointer;

  &.active {
    color: white;
    background: #999;
  }
}

.filter-form input[type='text'] {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 6px;
  min-height: 30px;
  margin: 0;
}

.filter-form input[type='text'].age-field {
  width: 40px;
}

.filter-buttons {
  line-height: 40px;

  a {
    margin-left: 3px;
  }
}

.sort-options {
  ul {
    list-style: none;
    margin: 0;
  }

  li {
    float: left;
    margin-right: 5px;
  }
}


.member-profile-title {
  font-size: 64px;
  line-height: 55px;
  font-family: 'BebasNeueRegular';

  @media (max-width: 767px) {
    font-size: 42px;
    line-height: 32px;
  }

  .female {
    color: #E61188;
  }

  .male {
    color: #4B6BCF;
  }
}

.member-profile-email {
  margin-top: -10px;
  a {
    font-size: 32px;
    font-family: 'Open Sans';
    font-weight: 200;
    color: #666;
  }

  @media (max-width: 767px) {
    margin-top: -17px;
    a {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

.member-profile-numbers {
  margin-top: 5px;
}

.member-profile-number {
  font-size: 48px;
  font-family: 'Open Sans';
  line-height: 38px;

  .name {
    font-size: 12px;
    font-family: 'BebasNeueRegular';
    color: #666;
    line-height: 12px;
    margin-bottom: -3px;
    font-size: 14px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 28px;
  }
}

.member-profile-detail {
  font-size: 32px;
  font-family: 'Open Sans';
  line-height: 38px;
  color: #666;

  .name {
    font-size: 12px;
    font-family: 'BebasNeueRegular';
    color: #666;
    line-height: 12px;
    margin-bottom: -3px;
    font-size: 14px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 28px;
  }
}

.member-profile-description {
  font-size: 18px;
  font-weight: 200;
  margin-top: 3px;
  line-height: 22px;
  padding-bottom: 5px;
  text-align: justify;
}

.family-member-name {
  font-size: 24px;
  font-family: 'Open Sans';
  line-height: 34px;
  color: #666;

  i[class^='icon-'] {
    margin-right: 5px;
  }
  small {
    margin-left: 5px;
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
  }
}

.family-members-header {
  margin-bottom: -10px;
  font-family: 'BebasNeueRegular';
  font-size: 14px;
  color: #666;
}

.new-member-button .slide-text {
  width: 100px;
}

.new-member-button:hover .button-text {
  padding-right: 105px;
}

.new-group-button .slide-text {
  width: 135px;
}

.new-group-button:hover .button-text {
  padding-right: 130px;
}

.new-message-button .slide-text {
  width: 150px;
}
.new-message-button:hover .button-text {
  padding-right: 150px;
}

.offering {
  &.heading {
    font-weight: bold;
  }

  div {
    display: inline-block;
    width: 80px;

    &.given-on {
      font-weight: bold;
    }
  }
}
