input[type="radio"].gender-radio {
  vertical-align: top;
  margin-right: 3px;
}
.member-list {
  margin-top: 5px;
}

.member-name {
  font-family: 'BebasNeueRegular';
  font-size: 2em;
  padding:10px 3px ;
  line-height: 23px;
  color: white;
  margin-left: 0px !important;
  @media (max-width: 767px) {
    padding:10px 70px 10px 3px ;
  }

  a {
    color: white;
  }

  i[class^='icon-'] {
    margin-right: 5px;
  }
}

.member {
  border-top: 1px solid #AEE6CE;
  position: relative;
}

.member-info {
  .labeled-item {
    margin-right: 5px;
  }
  @media (max-width: 767px) {
    margin-top: -15px;
  }

  a {
    color: white;
  }
}

.member-search-form {
  width: 200px;
  display: inline;
}

.family-details:not(:last-child) {
  border-bottom: 3px solid #CCC;
  margin-bottom: 10px;
}

ul.family-suggestions {
  list-style: none;
  margin: 0;
}

.family-suggestion {
  cursor: pointer;
  line-height: 2em;
  font-size: 1.2em;
  small {
    margin-left: 5px;
    font-weight: 200;
  }

  &:hover {
    text-decoration: underline;
  }
}

.address-suggestions {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;

  a {
    color: #0088cc;
  }
}

.section-header {
  padding: 0px;
  font-size: 24px;
  letter-spacing: -1px;
  display: block;
  color: #666;
  margin: 10px 0 0 0;
  font-weight: 300;
  font-family: 'BebasNeueRegular';
}

.labeled-item.black {
  color: black;
  span {
    color: black;
  }
}

.filter-group-header {
  margin: 10px 0 1px 0;
  text-decoration: underline
}

.filter-options {
  display: inline-block;
  margin: 0;
  list-style: none;
}

.filter-option {
  float: left;
  padding: 3px 5px;
  margin-right: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.member-filter-form input[type='text'] {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 6px;
  min-height: 30px;
  margin: 0;
}
